* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    background: gray;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.buttons button{
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 25px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttons .login-button button{
    background-color: blue;
    color: white;
}

.buttons .login-button button:hover{
    background-color: rgb(101, 157, 245);
    color: rgb(0, 0, 0);
}

.buttons .signup-button button{
    background-color: green;
    color: white;
}

.buttons .signup-button button:hover{
    background-color: rgb(2, 225, 2);
    color: rgb(0, 0, 0);
}
